<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Einkaufsliste</title>
   <link rel='stylesheet' href='css/todolist.css' />
</head>
<body>
<main class="flexbox-page">
<h1>Einkaufliste</h1>
<form action="/todolist">
  <input type="text" name="todo">
  <button type="submit">submit</button>
</form>

<div class="saved-todos" data-js="saved-todos">
</div>
</main>
<script src="/js/main.js"></script>
</body>
</html>